.background {
    background-image: url("../../assets/images/background-image.jpg");
        height: 100vh;
        width: 100vw;
        background-size: "cover";
        background-repeat: "no-repeat";
        margin: 0;
        padding: 0;
        display: flex;
}

.reading{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 95vh;
}

.chooseText{
    text-align: center;
    position: relative;
}

.readingButton{
    margin-bottom: 150px;
    position: absolute;
}