.readingContainer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 15% 5% 5% 5%;
}

.pastCardContainer {
    align-items: center;
    height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.presentCardContainer {
    align-items: center;
    height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.futureCardContainer {
    align-items: center;
    height: 50vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 500px) {
    .readingContainer{
        margin: 5% 5% 5% 5%;
        flex-direction: row;
    }

    .pastCardContainer {
        flex-direction: column;
    }
    
    .presentCardContainer {
        flex-direction: column;
    }
    
    .futureCardContainer {
        flex-direction: column;
    }
}
    
