.container{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    
}
.sol{
    color: #000000;
    display:flex;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 12px;
    padding-top: 5%;
    padding-left: 8%;
    text-decoration: none;
}
.refresh{ 
    display:flex ;
    justify-content: flex-end;
    background: none;
    width: 45px;
    height: 45px;
    border:none ; 
    width: 10.18%;
  height: 75.47%;
  position: absolute;
  right: 15.52%;
  left: 74.3%;
  bottom: 5.66%;
  top: 18.87%;
  object-fit: cover;
}
.refresh img {
    display:flex ;
    background: none;
    width: 40px;
    height: 40px;
   
 }
.sound{ 
    display:flex ;
    justify-content: flex-end;
    background: none;
    width: 40px;
    height: 45px;
    border:none ;
    width: 7.63%;
    height: 56.6%;
    position: absolute;
    right: 4.07%;
    left: 88.3%;
    bottom: 16.98%;
    top: 26.42%;
    object-fit: cover;
    

}
 .sound img  {
    display:flex ;
    background: none;
    width: 30px;
    height: 30px;
   
 }
 @media screen and (min-width: 1024px) {
    .container{
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: none;
    }
    .sol{
        color: #000000;
        display:flex;
        font-family: "Poppins-Bold", sans-serif;
        font-size: 12px;
        padding-top: 2%;
        padding-left: 5%;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }
    .refresh img{ 
        display:flex ;
        justify-content: flex-end;
        background: none;
        width: 60px;    
        height: 60px;
    }
    .sound img{ 
        display:flex ;
        justify-content: flex-end;
        background: none;
        width: 45px;    
        height: 45px;
    }
 }